// .hero {
//   padding-top: 200px;
//   padding-bottom: 200px;
//   margin: 0 auto;
//   max-width: 1600px;
//   height: 600px;
//   background-color: var(--mainBg);
//   background-image: linear-gradient(
//     to right,
//     rgba(47, 48, 58, 0.4),
//     rgba(47, 48, 58, 0.4)
//   ), url(../images/hero-bg.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }

// .hero__container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .hero__title {
//   margin-bottom: 30px;
//   max-width: 700px;

//   font-size: 44px;
//   font-weight: 900;
//   line-height: 1.36;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   text-align: center;

//   color: var(--lightFontColor);
// }

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  width: $mobile;
  background-color: var(--mainBg);
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ), url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: $tablet) {
    width: $tablet;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../images/hero-tablet.jpg);
  }
// разобраться с шириной героя
  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    min-width: 1200px;
    max-width: 1600px;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../images/hero-desktop.jpg);
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  margin-bottom: 30px;
  max-width: 360px;
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--lightFontColor);

  @media screen and (min-width: $desktop) {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}