// .page-header {
//   letter-spacing: 0.02em;
//   font-weight: 500;
//   border-bottom: 1px solid #ececec;
// }

// .page-header__container {
//   display: flex;
// }

// .page-header__contacts {
//   margin-left: auto;
// }

// .menu {
//   display: flex;
// }

// .menu__logo {
//   padding-top: 24px;
//   padding-bottom: 24px;
//   margin-right: 93px;
// }

.page-header {
  letter-spacing: 0.02em;
  font-weight: 500;
  border-bottom: 1px solid #ececec;
}

.page-header__container {

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.page-header__contacts {
  margin-left: auto;
}

.menu {
  
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.menu__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}